body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: black;
}
header {
    background: rgba(29, 29, 29, 0.8);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 100px;
    height: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li {
    position: relative;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li:hover .submenu {
    display: block;
    color: aqua;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    list-style: none;
    padding: 10px;
}
.submenu li {
    margin: 0;
}
.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
main {
    padding: 20px;
}
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.movie-box {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.movie-box:hover {
    scale: 1.1;
}
.movie-box img {
    width: 100%;
    display: block;
}
footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Header-box {
    margin: 0%;
    padding: 1rem;

}